<div class="mt-2 main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-wrapper"><!--Extended Table starts-->
<div class="row">
<div class="col-12">
<div class="content-header">Event and Program</div>
</div></div>

<div class="col-xl-12 col-lg-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Event and Program</h4>
      <p>You can also add icons to the tab name.</p>
    </div>
    <div class="card-content">
      <div class="card-body">
        <div class="nav-vertical">
          <ul class="nav nav-tabs nav-left">
            <li class="nav-item">
              <a class="nav-link active" id="baseVerticalLeft2-tab1" data-toggle="tab" aria-controls="tabVerticalLeft21"
                href="#tabVerticalLeft21" aria-expanded="true"><i class="fa fa-align-justify"></i> Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="baseVerticalLeft2-tab2" data-toggle="tab" aria-controls="tabVerticalLeft22"
                href="#tabVerticalLeft22" aria-expanded="false"><i class="fa fa-header"></i> Event Schedule</a>
            </li>
            
          </ul>
          <div class="tab-content px-1">
            <div role="tabpanel" class="tab-pane active" id="tabVerticalLeft21" aria-expanded="true"
              aria-labelledby="baseVerticalLeft2-tab1">
        
              <h4 class="card-title" id="basic-layout-form-center">Add Event</h4>
              <div class="px-3">

                <form class="form" #eventForm=ngForm (ngSubmit)="onSubmit1()">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <div class="form-group">
                          <label for="eventInput1">Event Name</label>
                          <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form.event_name" name="event_name" required>
                        </div>
                        <div class="form-group">
                          <label for="eventInput1">Subject</label>
                          <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form.subject" name="subject" required>
                        </div>
                        <div class="form-group">
                          <label for="eventInput1">Address</label>
                          <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form.address" name="address" required>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="projectinput1">Start Time</label>
                              <input type="time" id="projectinput1" class="form-control" [(ngModel)]="form.start_time" name="start_time" placeholder="e.g, 2:00:00 AM" required>
                            </div>
                          </div>
                          <div class="col-md-6">
                            
                              <div class="form-group">
                                <label for="projectinput1">End Time</label>
                                <input type="time" id="projectinput1" class="form-control" [(ngModel)]="form.end_time" name="end_time" placeholder="e.g, 3:50:00 AM" required>
                             
                            </div>
                          </div>
                        </div>
      
                        <div class="form-group">
                          <label for="projectinput2">Start Date</label>
                          <input type="date" id="projectinput2" class="form-control" [(ngModel)]="form.start_date" name="start_date" placeholder="e.g, 27 February 2020" required>
                        </div>
                        <div class="form-group">
                          <label for="projectinput2">End Date</label>
                          <input type="date" id="projectinput2" class="form-control" [(ngModel)]="form.end_date" name="end_date"  placeholder="e.g, 27 February 2020" required>
                        </div>
                        <div class="form-group">
                          <label for="eventInput2">Content</label>
                        <textarea id="complaintinput5" rows="5" class="form-control round"  [(ngModel)]="form.content" name="content" required></textarea>
                        </div>
                        <div class="form-group">
                          <label>Select Image</label>
                          <input type="file" class="form-control-file" id="projectinput8" (change)="uploadFile($event)" required>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="form-actions center">
                    
                    <button type="submit" [disabled]="!eventForm.valid" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Save
                    </button>
                  </div>
                </form>   
              </div>
              <section id="extended">
                <div class="row">
                <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">List of the Event </h4>
                  </div>
                  <div class="card-content">
                    <div class="card-body table-responsive">
                      <table class="table text-center">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Event Name</th>
                            <th>Subject </th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>End Time</th>
                            <th>Start Date</th>
                            <th>Created_at</th>
                            <th>Updated_at</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="!event?.length">
                          <tr ><td></td><td></td><td></td><td></td><h3>No Data Found.</h3></tr>
                         </tbody>
                         <tbody *ngIf="event?.length">
                           
                           <tr *ngFor="let u of event | paginate: {itemsPerPage: 10, currentPage: p} ; let i=index">               
                            <td>{{i + 1}}</td>
                             <td>
                              <img src="http://{{url}}/{{u.event_image}}" class="rounded" style="width: 50px;height: 40px;">

                             </td>
                             <td>{{u.event_name}}</td>
                             <td>{{u.subject}}</td>
                             <td>{{u.address}}</td>
                             <td>{{u.status}}</td>
                             <td>{{u.end_time}}</td>
                             <td>{{u.start_date}}</td>
                             <td>{{u.created_at}}</td>
                             <td>{{u.updated_at}}</td>
                            <td>
                              <!-- <a class="info p-0" data-original-title="" title=""> -->
                                <!-- <i class="ft-user font-medium-3 mr-2"></i> -->
                              <!-- </a> -->
                              <a class="success p-0" data-original-title="" title="" (click)="editevent(u.id)">
                                <i class="ft-edit-2 font-medium-3 mr-2"></i>
                              </a>
                              <a class="danger p-0" data-original-title="" title="" (click)="deleteevent(u.id)">
                                <i class="ft-x font-medium-3 mr-2"></i>
                              </a>
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>
                       <div class="center" *ngIf="event?.length">
                            <pagination-controls (pageChange)="p = $event" class="my-pagination text-info"></pagination-controls> 
                           
                       </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </section>
              
            </div>



            <div class="tab-pane" id="tabVerticalLeft22" aria-labelledby="baseVerticalLeft2-tab2">
              
              <h4 class="card-title" id="basic-layout-form-center">Add Event Schedule</h4>
              <div class="px-3">

                <form class="form" #signupForm=ngForm (ngSubmit)="onSubmit2()">
                  <div class="row justify-content-md-center">
                    <div class="col-md-6">
                      <div class="form-body">
                        <div class="form-group">
                          <label for="issueinput6">Select Event</label>
                          <select id="issueinput6" name="event_id" class="form-control" [(ngModel)]="form2.event_id" data-toggle="tooltip" data-trigger="hover"
                            data-placement="top" data-title="Status">
                            <option *ngFor="let e of event" value="{{e.id}}">{{e.event_name}}</option>
                            
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="eventInput1">Schedule Name</label>
                          <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form2.schedule_name" name="schedule_name" required>
                        </div>
                        <div class="form-group">
                          <label for="eventInput1">Title</label>
                          <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form2.title" name="title" required>
                        </div>
                        <div class="form-group">
                          <label for="eventInput1">Speaker</label>
                          <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form2.speaker" name="speaker" required>
                        </div>
                        <div class="form-group">
                          <label for="eventInput2">Content</label>
                        <textarea id="complaintinput5" rows="5" class="form-control round"  [(ngModel)]="form2.content" name="content" required></textarea>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="projectinput1">Start Time</label>
                              <input type="time" id="projectinput1" class="form-control" name="start_time" [(ngModel)]="form2.start_time" placeholder="e.g 10AM">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="projectinput2">End Time</label>
                              <input type="time" id="projectinput2" class="form-control" name="end_time" [(ngModel)]="form2.end_time"  placeholder="e.g 2PM">
                            </div>
                          </div>
                        </div>

                      
      
                        <div class="form-group">
                          <label for="projectinput2">Start Date</label>
                          <input type="date" id="projectinput2" class="form-control" [(ngModel)]="form2.start_date" name="start_date" placeholder="e.g, 27 February 2020">
                        </div>
                        <div class="form-group">
                          <label for="projectinput2">End Date</label>
                          <input type="date" id="projectinput2" class="form-control" [(ngModel)]="form2.end_date" name="end_date"  placeholder="e.g, 27 February 2020">
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="form-actions center">
                    
                    <button type="submit" [disabled]="!signupForm.valid" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Save
                    </button>
                  </div>
                </form>
   
              </div>
              <section id="extended">
                <div class="row">
                <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">List of the Event Schedule</h4>
                  </div>
                  <div class="card-content">
                    <div class="card-body table-responsive">
                      <table class="table text-center">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th></th>
                            <th>Schedule Name</th>
                            <th>Title </th>
                            <th>Speaker</th>
                            <th>Status</th>
                            <th>End Time</th>
                            <th>Start Date</th>
                            <th>Created_at</th>
                            <th>Updated_at</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="!eventsch?.length">
                          <tr ><td></td><td></td><td></td><td></td><h3>No Data Found.</h3></tr>
                         </tbody>
                         <tbody *ngIf="eventsch?.length">
                           
                           <tr *ngFor="let u of eventsch | paginate: {itemsPerPage: 10, currentPage: p} ; let i=index">               
                            <td>{{i + 1}}</td>
                             <td>
                               <div class="custom-control custom-checkbox m-0">
                                 <input type="checkbox" class="custom-control-input" id="item1">
                                 <label class="custom-control-label" for="item1"></label>
                               </div>
                             </td>
                             <td>{{u.schedule_name}}</td>
                             <td>{{u.title}}</td>
                        
                             <td>{{u.speaker}}</td>
                             <td>{{u.status}}</td>
                             <td>{{u.end_time}}</td>
                             <td>{{u.start_date}}</td>
                             <td>{{u.created_at}}</td>
                             <td>{{u.updated_at}}</td>
                            <td>
                              <!-- <a class="info p-0" data-original-title="" title=""> -->
                                <!-- <i class="ft-user font-medium-3 mr-2"></i> -->
                              <!-- </a> -->
                              <a class="success p-0" data-original-title="" title="" (click)="editeventsch(u.id)">
                                <i class="ft-edit-2 font-medium-3 mr-2"></i>
                              </a>
                              <a class="danger p-0" data-original-title="" title="" (click)="deleteeventsch(u.id)">
                                <i class="ft-x font-medium-3 mr-2"></i>
                              </a>
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>
                       <div class="center" *ngIf="eventsch?.length">
                            <pagination-controls (pageChange)="p = $event" class="my-pagination text-info"></pagination-controls> 
                           
                       </div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </section>

            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








</div></div>


