<div class="mt-2 main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-wrapper"><!--Extended Table starts-->
<div class="row">
<div class="col-12">
<div class="content-header">System Setting</div>
</div></div>



<div class="row match-height">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-form-center">Update</h4>
        <p>This example shows a way to center your form in the card. Here we have used <code>.justify-content-md-center
            .row</code> classe to center the form in a full width card. User can always change column classes
          according to his requirements. This example also uses form action buttons in the center bottom position of
          the card.</p>
      </div>
      <div class="card-content">
        <div class="px-3">

         

        </div>
      </div>
    </div>
  </div>
</div>









</div></div>

