<div class="mt-2 main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-wrapper"><!--Extended Table starts-->
<div class="row">
<div class="col-12">
<!-- 
<div class="row match-height">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-form-center">Add Home Header</h4>
        <p>This example shows a way to center your form in the card. Here we have used <code>.justify-content-md-center
            .row</code> classe to center the form in a full width card. User can always change column classes
          according to his requirements. This example also uses form action buttons in the center bottom position of
          the card.</p>
      </div>
      <div class="card-content">
        <div class="px-3">

          <form class="form" #signupForm=ngForm (ngSubmit)="onSubmit()">
            <div class="row justify-content-md-center">
              <div class="col-md-6">
                <div class="form-body">
                  <div class="form-group">
                    <label for="eventInput1">Component 1</label>
                    <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form.component1" name="component1" required>
                  </div>
                  <div class="form-group">
                    <label for="eventInput1">Component 2</label>
                    <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form.component2" name="component2" required>
                  </div>
                  <div class="form-group">
                    <label for="eventInput2">Component 3</label>
                  <textarea id="complaintinput5" rows="5" class="form-control round"  [(ngModel)]="form.component3" name="component3" required></textarea>
                  </div>
                  <div class="form-group">
                    <label>Select Image</label>
                    <input type="file" class="form-control-file" id="projectinput8" (change)="uploadFile($event)">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-actions center">
              
              <button type="submit" [disabled]="!signupForm.valid" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<section id="extended">
  <div class="row">
  <div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">List of the Home Header</h4>
    </div>
    <div class="card-content">
      <div class="card-body table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Home Image</th>
              <th>Component 1</th>
              <th>Component 2 </th>
              <th>Component 3</th>
              <th>Created_at</th>
              <th>Updated_at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="!header?.length">
            <tr ><td></td><td></td><td></td><td></td><h3>No Data Found.</h3></tr>
           </tbody>
           <tbody *ngIf="header?.length">
             
             <tr *ngFor="let u of header | paginate: {itemsPerPage: 10, currentPage: p} ; let i=index">               
              <td>{{i + 1}}</td>
               <td>
                 <img src="http://{{url}}/{{u.home_image}}" class="rounded" style="width: 50px;height: 40px;">
               </td>
               <td>{{u.component1}}</td>
               <td>{{u.component2}}</td>
               <td>{{u.component3}}</td>
               <td>{{u.created_at}}</td>
               <td>{{u.updated_at}}</td>
              <td>               
                <a class="success p-0" data-original-title="" title="">
                  <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
                <a class="danger p-0" data-original-title="" title="">
                  <i class="ft-x font-medium-3 mr-2"></i>
                </a>
              </td>
            </tr>
           
          </tbody>
        </table>
         <div class="center" *ngIf="header?.length">
              <pagination-controls (pageChange)="p = $event" class="my-pagination text-info"></pagination-controls> 
             
         </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </section> -->

  <!-- Vertical Tabs start -->
<section id="vertical-tabs">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h4 class="text-uppercase">Page Header</h4>
    </div>
  </div>
  <div class="row match-height">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Add Page Headers</h4>
          <p>Wrap tabs and tab content with <code>.nav-vertical</code> class. To add left navigation use
            <code>.nav-left</code> class to <code>.nav.nav-tabs</code>.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="nav-vertical">
              <ul class="nav nav-tabs nav-left flex-column">
                <li class="nav-item">
                  <a class="nav-link active" id="baseVerticalLeft-tab1" data-toggle="tab" aria-controls="tabVerticalLeft1"
                    href="#tabVerticalLeft1" aria-expanded="true">Home Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab2" data-toggle="tab" aria-controls="tabVerticalLeft2"
                    href="#tabVerticalLeft2" aria-expanded="false">About Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab3" data-toggle="tab" aria-controls="tabVerticalLeft3"
                    href="#tabVerticalLeft3" aria-expanded="false">Members Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab4" data-toggle="tab" aria-controls="tabVerticalLeft4"
                    href="#tabVerticalLeft4" aria-expanded="false">Event Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab11" data-toggle="tab" aria-controls="tabVerticalLeft11"
                    href="#tabVerticalLeft11" aria-expanded="false">Gallery Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab5" data-toggle="tab" aria-controls="tabVerticalLeft5"
                    href="#tabVerticalLeft5" aria-expanded="false">Opportunities Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab6" data-toggle="tab" aria-controls="tabVerticalLeft6"
                    href="#tabVerticalLeft6" aria-expanded="false">Scholarship Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab7" data-toggle="tab" aria-controls="tabVerticalLeft7"
                    href="#tabVerticalLeft7" aria-expanded="false">Commitee Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab12" data-toggle="tab" aria-controls="tabVerticalLeft12"
                    href="#tabVerticalLeft12" aria-expanded="false">News Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab8" data-toggle="tab" aria-controls="tabVerticalLeft8"
                    href="#tabVerticalLeft8" aria-expanded="false">Constitution Page</a>
                </li>               
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab9" data-toggle="tab" aria-controls="tabVerticalLeft9"
                    href="#tabVerticalLeft9" aria-expanded="false">Capacity Building Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="baseVerticalLeft-tab10" data-toggle="tab" aria-controls="tabVerticalLeft10"
                    href="#tabVerticalLeft10" aria-expanded="false">Contact Page</a>
                </li>
              </ul>
              <div class="tab-content px-1">
                <div role="tabpanel" class="tab-pane active" id="tabVerticalLeft1" aria-expanded="true" aria-labelledby="baseVerticalLeft-tab1">
                  
                    <div class="row">                     
                      <div class="col-md-12 col-sm-12 ">
                        <div class="card" style="margin-top: -25px;">
                          <div class="card-header">
                            <h4 class="card-title">Home Header View</h4>
                          </div>
                          <div class="card-content">
                            <div class="card-body">
                              <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <!-- <li data-target="#carousel-example-caption" data-slide-to="0" class="active"></li>
                                  <li data-target="#carousel-example-caption" data-slide-to="1"></li>
                                  <li data-target="#carousel-example-caption" data-slide-to="2"></li>
                                  <li data-target="#carousel-example-caption" data-slide-to="1"></li>
                                  <li data-target="#carousel-example-caption" data-slide-to="2"></li> -->

                                </ol>
                                <div class="carousel-inner" role="listbox">
                                  <div  *ngFor="let u of header; let i=index" class="carousel-item {{u.status}}" style="height: 300px;">
                                    <img src="http://{{url}}/{{u.home_image}}" alt="First slide">
                                    <div class="carousel-caption">
                                      <h1>{{u.component1}}</h1>
                                      <h3>{{u.component2}}</h3>
                                      <p>{{u.component3}}</p>
                                      <button type="button" class="btn btn-raised btn-warning btn-min-width" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false"><i class="fa fa-pencil"></i>Edit</button> &nbsp;
                                      <button type="button" class="btn btn-raised btn-danger btn-min-width" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false"><i class="fa fa-bin"></i>Delete</button>
                                    </div>
                                  </div>                                  
                                </div>
                                <a class="carousel-control-prev" href="#carousel-example-caption" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-example-caption" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                              <hr><br>

                                          <!-- Button trigger modal -->
                              <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                              data-backdrop="false" data-target="#primary">
                              Add Header
                            </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              
                  <!-- Basic Carousel end -->


                </div>
                <div class="tab-pane" id="tabVerticalLeft2" aria-labelledby="baseVerticalLeft-tab2">                 
                  
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">About Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                    

                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{about_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{about_header.title}}</h1>                                   
                                    <p>{{about_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                             
                            </div>
                            <hr><br>

                                        <!-- Button trigger modal -->
                            <button type="button" (click)="onheader(about_header.id) -1" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                <!-- Basic Carousel end -->


                </div>
                <div class="tab-pane" id="tabVerticalLeft3" aria-labelledby="baseVerticalLeft-tab3">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Member Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{member_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{member_header.title}}</h1>                                   
                                    <p>{{member_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(member_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Events Header -->

                <div class="tab-pane" id="tabVerticalLeft4" aria-labelledby="baseVerticalLeft-tab4">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Event Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{event_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{event_header.title}}</h1>                                   
                                    <p>{{event_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(event_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                 <!-- Gallery Header -->

                 <div class="tab-pane" id="tabVerticalLeft11" aria-labelledby="baseVerticalLeft-tab11">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Gallery Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{gallery_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{gallery_header.title}}</h1>                                   
                                    <p>{{gallery_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(gallery_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                
                 <!-- job Header -->

                 <div class="tab-pane" id="tabVerticalLeft5" aria-labelledby="baseVerticalLeft-tab5">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Opportunity Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{job_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{job_header.title}}</h1>                                   
                                    <p>{{job_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(job_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- scholaship Header -->

                <div class="tab-pane" id="tabVerticalLeft6" aria-labelledby="baseVerticalLeft-tab6">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Scholarship Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{scholaship_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{scholaship_header.title}}</h1>                                   
                                    <p>{{scholaship_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(scholaship_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- committee Header -->

                <div class="tab-pane" id="tabVerticalLeft7" aria-labelledby="baseVerticalLeft-tab7">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Committee Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{committee_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{committee_header.title}}</h1>                                   
                                    <p>{{committee_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(committee_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- News Header -->

                <div class="tab-pane" id="tabVerticalLeft12" aria-labelledby="baseVerticalLeft-tab12">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">News Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{news_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{news_header.title}}</h1>                                   
                                    <p>{{news_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(news_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="tabVerticalLeft8" aria-labelledby="baseVerticalLeft-tab8">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Constitution Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{constitution_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{constitution_header.title}}</h1>                                   
                                    <p>{{constitution_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(constitution_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Constitution Header -->

                <div class="tab-pane" id="tabVerticalLeft10" aria-labelledby="baseVerticalLeft-tab10">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Contact Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{contact_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{contact_header.title}}</h1>                                   
                                    <p>{{contact_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(contact_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Capacity Header -->

                <div class="tab-pane" id="tabVerticalLeft9" aria-labelledby="baseVerticalLeft-tab9">                   
                  <div class="row">                     
                    <div class="col-md-12 col-sm-12 ">
                      <div class="card" style="margin-top: -25px;">
                        <div class="card-header">
                          <h4 class="card-title">Capacity Header View</h4>
                        </div>
                        <div class="card-content">
                          <div class="card-body">
                            <div id="carousel-example-caption" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                               
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="height: 300px;">
                                  <img src="http://{{url}}/{{capacity_header.image}}" alt="First slide">
                                  <div class="carousel-caption">
                                    <h1>{{capacity_header.title}}</h1>                                   
                                    <p>{{capacity_header.content}}</p>                                   
                                  </div>
                                </div>                                  
                              </div>                           
                            </div>
                            <hr><br>
                                        <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary btn-block btn-lg" data-toggle="modal"
                            data-backdrop="false" (click)="onheader(capacity_header.id -1)" data-target="#header">
                            Edit Header
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
                            <!-- Modal -->
                            <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8"
                              aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header bg-primary white">
                                    <h4 class="modal-title" id="myModalLabel8">New Header</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form class="form" #signupForm=ngForm (ngSubmit)="onSubmit()">
                                  <div class="modal-body">
                                    <div class="px-1">

                                      
                                        <div class="row justify-content-md-center">
                                          <div class="col-md-12">
                                            <div class="form-body">
                                              <div class="form-group">
                                                <label for="eventInput1">Component 1</label>
                                                <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form.component1" name="component1" required>
                                              </div>
                                              <div class="form-group">
                                                <label for="eventInput1">Component 2</label>
                                                <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form.component2" name="component2" required>
                                              </div>
                                              <div class="form-group">
                                                <label for="eventInput2">Component 3</label>
                                              <textarea id="complaintinput5" rows="5" class="form-control round"  [(ngModel)]="form.component3" name="component3" required></textarea>
                                              </div>
                                              <div class="form-group">
                                                <label>Select Image</label>
                                                <input type="file" class="form-control-file" id="projectinput8" (change)="uploadFile($event)">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                            
                                    
                            
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button  type="submit" [disabled]="!signupForm.valid" class="btn btn-outline-primary">Add Header</button>
                                  </div>
                                </form>
                                </div>
                              </div>
                            </div>


                            <!-- Modal -->
                            <div class="modal fade text-left" id="header" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header bg-primary white">
                                  <h4 class="modal-title" id="myModalLabel8">New Header</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <form class="form" #signupForm=ngForm (ngSubmit)="onUpdate()">
                                <div class="modal-body">
                                  <div class="px-1">

                                    
                                      <div class="row justify-content-md-center">
                                        <div class="col-md-12">
                                          <div class="form-body">
                                            <div class="form-group">
                                              <label for="eventInput1">Title</label>
                                              <input type="text" id="eventInput1" class="form-control"  [(ngModel)]="form2.title" name="title" required>
                                            </div>
                                            <div class="form-group">
                                              <label for="eventInput1">Component</label>
                                              <textarea id="eventInput1" class="form-control" rows="4" [(ngModel)]="form2.content" name="content" required></textarea>
                                            </div>
                                      
                                            <div class="form-group">
                                              <label>Select Image</label>
                                              <input type="file" class="form-control-file" id="projectinput8" (change)="uploadFile($event)">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                          
                                  
                          
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                  <button  type="submit" [disabled]="!signupForm.valid" class="btn btn-outline-primary">Add Header</button>
                                </div>
                              </form>
                              </div>
                            </div>
                          </div>


  </div>
</section>
<!-- Vertical Tabs end -->








</div></div>


