
<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Update Info</mat-card-title>
    <span class="toolbar-spacer"></span>
    <!-- <mat-icon (click)="onNoClick()">cancel</mat-icon> -->
  </mat-toolbar>
</mat-card-header>
<div class="container">
<mat-dialog-content class="mat-typography">
  
    <form [formGroup]="_userForm" >
      <div class="form-group">
        <div class="form-group">
          <label for="eventInput1">Image Category Name</label>
          <input type="text" id="eventInput1" class="form-control"   formControlName="image_cate_name" required>
        </div>
        
        <div class="form-group">
          <label for="eventInput2">Content</label>
        <textarea id="complaintinput5" rows="5" class="form-control round"   formControlName="about" required></textarea>
        </div>
        
        
    
       
        
      </div>

    </form>
  
</mat-dialog-content>
<div class="form-group">
  <div class="row">
<div class="form-actions center">
                    
  <button   class="btn btn-raised btn-defult mr-1" (click)="onNoClick()">
    <i class="fa fa-check-square-o"></i>cancel
  </button>

  <button type="submit" (click)="onSubmit()"  class="btn btn-raised btn-success">
    <i class="fa fa-check-square-o"></i>Update
  </button>
</div>
</div>
</div>
</div>

